@import "tailwindcss";

:root {
  --bg: #FFFFFF;
  --card-bg: #f1f1f1;
  --text: #333333;
  --text-light: #FFFFFF;
  --primary: #8CDDED;
  --accent: #046BAD;
  --accent-dark: #0A1C30;
  --header-bg: rgba(10, 28, 48, 0.9);
  --input-border: #DDDDDD;
  --btn-hover: #0A1C30;
}

.dark-theme {
  --bg: #121212;
  --card-bg: #1E1E1E;
  --text: #F5F5F5;
  --text-light: #0A1C30;
  --header-bg: #0F0F15;
  --input-border: #333333;
}

@theme inline {
  --font-playfair: var(--font-playfair);
  --font-josefin: var(--font-josefin);
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-josefin), sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}
